local: &local
  adapter: postgresql
  username: alex
  password: 270993
  host: localhost

development:
  <<: *local
  database: iota_project_dev

test:
  <<: *local
  database: iota_project_test

production:
  <<: *local
  database: iota_project_production